@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: medium;
}

.hero {
    height: 650px;
    background-image: url('imagens/build-hero-espelhada-cortada.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

nav {
    width: 98vw;
    display: flex;
    justify-content: center;
}

.container-menu {
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

li {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.menu-button:hover {
    color: aliceblue;
    font-size: 17px;
    transition: 0.8s;
    padding: 8px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.button-contact {
    width: 100px;
    height: 35px;
    background-color: rgb(9, 124, 71);
    border: none;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.button-contact:hover {
    background-color: rgb(14, 88, 54);
    border: 2px solid white;
    color: white;
    transition: 0.7s;
}

.outdoor {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-field {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

.start {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
}

.start:hover {
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.info-metrica {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metrica {
    width: 750px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.sub-container {
    margin: 25px;
}

.number {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.description {
    color: white;
}

.container-filter {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 30px black;
}

.filter > .caixa {
    padding: 20px;
}

.filter > .caixa > .caixas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-search {
    font-size: 25px;
    font-weight: 600;
}

form > input {
    width: 180px;
    padding: 10px;
    margin-top: 20px;
}

#button-form {
    width: 130px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.fundo-branco {
    height: 400px;
}

.fundo-preto {
    height: 700px;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
}

.container-product {
    position: relative;
    left: 0px;
    top: -310px;
}

.vitrine-product {
    display: flex;
    justify-content: center;
}

.local {
    color: gray;
}

.title {
    margin-left: 30px;
}

.joga-pro-lado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joga-pro-lado > p {
    margin-right: 30px;
}

.product {
    height: 405px;
    margin: 30px;
    background-color: white;
}

.product > img {
    width: 300px;
    height: 250px;
}

.espeficifacao {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product > p {
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.espeficifacao > p > img {
    width: 15px;
    height: 15px;
    margin: 5px;
    margin-bottom: 0px;
}

.botao-product {
    width: 120px;
    height: 45px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.especificacao-botao {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.especificacao-botao > p {
    font-weight: 700;
    font-size: 20px;
}

.conatiner-fouder {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.name-fouder {
    font-size: 30px;
    color: whitesmoke;
    line-height: 20px;
}

.name-fouder-sub {
    font-size: 15px;
}

.text {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: 200px;
}

.text > img {
    width: 40px;
    height: 40px;
}

.text > p {
    font-size: 22px;
    color: whitesmoke;
}

.line {
    width: 78vw;
    height: 1px;
    background-color: gray;
    margin-top: 80px;
    margin-left: 30px;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.logo1 {
    width: 100px;
    height: 50px;
}

.logo2 {
    width: 130px;
    height: 50px;
}

.logo3 {
    width: 100px;
    height: 50px;
}

.logo4 {
    width: 100px;
    height: 50px;
}

.secao3 {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-father {
    width: 1120px;
}

.container-filho1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-filho1 > img {
    width: 500px;
    height: 380px;
    margin-right: 50px;
}

.info > ul {
    list-style-type: disc;
    display: flex;
    align-items: center;
}

.info > ul > div > li {
    cursor: auto;
}

.info > ul > div > li::marker {
    color: aqua;
}

.lista-coluna-1 {
    margin-right: 40px;
    margin-left: 10px;
}

.button-see-more {
    width: 125px;
    height: 40px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 17.5px;
}

.button-see-more:hover {
    border: 2px solid white;
    color: white;
}

.container-filho2 {
    width: 1120px;
    margin-top: 100px;
}

.container-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-size: 30px;
}

.button-see-all-article {
    width: 150px;
    height: 40px;
    background-color: black;
    color: whitesmoke;
}

.button-see-all-article:hover {
    border: 2px solid white;
    cursor: pointer;
}

.container-align-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-notice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-info-notice {
    width: 300px;
    height: 400px;
    margin-top: 70px;
}

.container-info-notice > ul {
    color: gray;
    margin-left: 7px;
}

.container-info-notice > ul > li::marker {
    color: aquamarine;
}

.line-info-notice {
    width: 200px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.301);
    margin-bottom: 20px;
}

.button-read-more {
    width: 100px;
    height: 40px;
    background-color: rgba(170, 214, 255, 0.548);
    color: rgb(39, 130, 214);
    border: none;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.button-read-more:hover {
    background-color: rgb(39, 130, 214);
    color: rgb(213, 233, 252);
}

.container-info-notice > ul > li {
    cursor: auto;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(36,36,36);
}

.container-testimonial {
    width: 1120px;
}

.container-title-testimonial {
    color: whitesmoke;
    padding-bottom: 30px;
}

.container-container-testimonial-man {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-y: hidden;
}

.container-container-testimonial-man::-webkit-scrollbar {
    display: none;
}

.container-testimonial-man {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.subcontainer-testimonial-man {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.container-testimonial-man-img {
    width: 200px;
    height: 300px;
    margin-right: 30px;
}

.container-testimonial-man-text {
    width: 400px;
    color: whitesmoke;
}

.container-testimonial-man-text > h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.container-testimonial-man-text > p {
    font-weight: 300;
}

.container-testimonial-man1-text > ul > li {
    font-weight: 500;
    color: whitesmoke;
}

.container-testimonial-man1-text > ul > li::marker {
    color: whitesmoke;
}

.question {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-question {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-frequently-asked-question {
    width: 400px;
    margin-right: 50px;
}

.container-frequently-asked-question > h2{
    font-size: 50px;
    font-weight: bold;
}

.container-frequently-asked-question > .text {
    margin: 20px 0px;
}

.question-button-see-more {
    width: 100px;
    height: 30px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.question-button-see-more:hover {
    color: white;
    border: 2px solid white;
}

.details {
    width: 400px;
}

.content-details {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.137);
    padding: 20px;
    border-radius: 20px;
}

.details > .content-details > details > summary {
    list-style: none;
    cursor: pointer;
}

.details > .content-details > details > p {
    color: gray;
    padding: 5px;
}

.details1 , .details2 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}

.details1 , .details2, .details3 {
    padding: 10px;
}

footer {
    width: 98vw;
    height: 100px;
}

footer > .conatainer-line {
    display: flex;
    justify-content: center;
}

footer > .conatainer-line > .line {
    width: 1120px;
    background-color: #8080804D;
    margin: 0px;
    padding: 0px;
}

.container-content-footer {
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.creator {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator > a {
    margin-left: 5px;
}

.creator > a:link {
    color: white;
}

.creator > a:visited {
    text-decoration: none;
    color: white;
}